<!DOCTYPE html>
<html lang="en">

<head>
  <title>Notes App</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <meta name="keywords" content="notes, study, take notes, blog">

  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <!-- Navigation -->
  <!-- https://getbootstrap.com/docs/5.0/components/navs-tabs/ -->
  <nav class="nav flex-column">
    <a class="nav-link active" aria-current="page" href="#">Notes</a>
    <a class="nav-link" href="#">Profile</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">API</a>
  </nav>
  <!-- Header -->
  <header>
      <div class="container">
     </div>
  </header>
  <!-- Main Content Section -->
  <div class="container">
  </div>
  <!-- Footer -->
  <footer>
     <div class="container">
    </div>
  </footer>


</body>
</html>
