{# https://www.django-rest-framework.org/topics/browsable-api/#customizing #}
{% extends "rest_framework/base.html" %}
{% load static %}

{% block title %}{% if name %}{{ name }} – {% endif %} Notesapp REST API{% endblock %}



{# Upper Left Corner Nav Branding Name  #}

{% block branding %}
    <a href="/" class="navbar-brand p-3">
        <img width="36" height="36"  alt="Notes App API" src="{% static 'notes/logo/logo_light.svg' %}">
    </a>
{% endblock %}

{% block style %}
    {{ block.super }}
    <style>
        div .navbar {
            border-top-color: #1278e5;
        }
    </style>
{% endblock %}
