{# https://www.django-rest-framework.org/topics/browsable-api/#customizing #}
{% extends "rest_framework/base.html" %}

{% block title %}{% if name %}{{ name }} – {% endif %} Notesapp REST API{% endblock %}

{# Upper Left Corner Nav Branding Name  #}

{% block branding %}
    <a href="/" class="navbar-brand">
        NotesApp API
    </a>
{% endblock %}

{% block style %}
    {{ block.super }}
    <style>
        div .navbar {
            border-top-color: #2bc7b1;
        }
    </style>
{% endblock %}
