{% extends "base.html" %}
{% load notes_extras %}
{% block title %}User Profile{% endblock %}
{% block content %}


{% div cls="container" %}
<h2 class="mb-4 py-4 text-center">
  Profile Information
</h2>
{% div cls="container m-2 px-2 pt-4" %}
  {% div cls="row px-4" %}

    {% div cls="col-8 offset-2 px-4" %}

      {% div cls="d-flex p-2 bd-highlight justify-content-between" %}

      {% div cls="p-2" %}
        <h5>First Name </h5>
      {% div cls="end" %}

      {% div cls="p-2" %}
        <p class="h5">{{ request.user.first_name }}</p>
      {% div cls="end" %}

      {% div cls="end" %}

      {% div cls="d-flex p-2 bd-highlight justify-content-between" %}

      {% div cls="p-2" %}
        <h5>Last Name </h5>
      {% div cls="end" %}

      {% div cls="p-2" %}
        <p class="h5">{{ request.user.last_name }}</p>
      {% div cls="end" %}

      {% div cls="end" %}

      {% div cls="d-flex p-2 bd-highlight justify-content-between" %}

      {% div cls="p-2" %}
        <h5>Email Address </h5>
      {% div cls="end" %}

      {% div cls="p-2" %}
        <p class="h5">{{ request.user }}</p>
      {% div cls="end" %}

      {% div cls="end" %}

    {% div cls="end" %}
 
  

{% div cls="end" %}

{% div cls="row mt-4 pt-4 text-center" %}
    {% div cls="col-7 offset-2 pt-3" %}
      <a class="btn btn-danger" role="button" href="{% url "logout" %}">Log Out</a>
    {% div cls="end" %}
{% div cls="end" %}

{% div cls="end" %}


{% div cls="end" %}





{% endblock content %}
