{% extends "base.html" %}
{% load static %}
{% load flashcard_extras %}
{% block title %} Flashcards | Index | {% endblock %}

{% block style %}
  .bg-offwhite {
    background-color: #f3f3f3ff;
  }
  .text-black {
    color: #222;
  }

  .flash-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 2px solid #222;
    border-radius: 25px;
    perspective: 1000px; /* 3D */
  }

  .flash-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flash-card:hover .flash-card-inner {
    transform: rotateY(180deg);
  }

  .flash-card-front, .flash-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flash-card-back {
    transform: rotateY(180deg);
  }

{% endblock %}

{% block content %}
  <div class="container">
    <div class="row mb-4 p-4">
      <div class="col-12 text-center">
        <h2>Flashcards</h2>
      </div>
    </div>

    {% if cards %}
      {% for card in cards %}
        <div class="flash-card">
          <div class="flash-card-inner bg-offwhite">
            <div class="bg-offwhite text-black">
              <p class="align-middle my-4 py-3">
                  {{ card.question|safe }}
              </p>
            </div>
            <div class="flash-card-back bg-offwhite text-black">
              <p class="align-middle my-4 py-3">
                  {{ card.answer|safe }}
              </p>
             </div>
          </div>
      </div>
      {% endfor %}
    {% endif %}

  </div>

{% endblock %}
